# groq
# streamlit
# requests==2.31.0
# beautifulsoup4==4.12.2

# python-dotenv==1.0.0
# sentence-transformers==2.2.2
# faiss-cpu==1.7.4
# langchain==0.1.5
# numpy==1.26.0
# tqdm==4.66.1
# torch==2.1.0
# transformers==4.35.2



# Basic dependencies (unversioned)
#streamlit
# requests
# beautifulsoup4
# groq
# python-dotenv
# sentence-transformers
# faiss-cpu
# langchain
# numpy



beautifulsoup4==4.13.4
langchain-community==0.3.27
python-dotenv==1.1.1
numpy==2.2.6
streamlit==1.47.0
groq==0.30.0
sentence-transformers==5.0.0
faiss-cpu==1.11.0.post1
transformers==4.54.0
pandas==2.3.1
scikit-learn==1.7.1
